<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <h1><%= @restaurant.name %></h1>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th scope="row">Address</th>
            <td><%= @restaurant.address %></td>
          </tr>
          <tr>
            <th scope="row">Phone Number</th>
            <td><%= @restaurant.phone_number %></td>
          </tr>
          <tr>
            <th scope="row">Category</th>
            <td><%= @restaurant.category %></td>
          </tr>
        </tbody>
      </table>

  <%= link_to "Delete",
      restaurant_path(@restaurant), class: 'btn btn-primary btn-sm',
      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
  %>
  <%= link_to 'Back to restaurant list', restaurants_path(@restaurant.id), class: 'btn btn-primary btn-sm' %>
